S3method(plot,likert)
S3method(print,likert)
S3method(print,likert.bar.plot)
S3method(print,xlikert)
S3method(summary,likert)
S3method(xtable,likert)
export(likert)
export(likert.bar.plot)
export(likert.density.plot)
export(likert.heat.plot)
export(likert.histogram.plot)
export(recode)
export(reverse.levels)
export(shinyLikert)
import(ggplot2)
import(gridExtra)
import(reshape)
import(tools)
import(xtable)
importFrom(psych)
