S3method(plot,likert)
S3method(print,likert)
S3method(print,likert.bar.plot)
S3method(summary,likert)
S3method(xtable,likert)
export(likert)
export(likert.bar.plot)
export(likert.density.plot)
export(likert.matrix.plot)
export(print.likert.bar.plot)
export(recode)
export(xtable.likert)
import(ggplot2)
import(reshape)
import(tools)
import(xtable)
